POSTGRES_USER=user-service
POSTGRES_PASSWORD=Password_1337
POSTGRES_DB=user-service

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public

SECRET=secret
